name: Check Code

on:
  push:
    branches: [main]

jobs:
  check_code:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Set Node Js 19
        uses: actions/setup-node@v4
        with:
          node-version: 19
      - name: Install dependencies
        run: npm install
      - name: Build app
        run: npm run build
      - name: Run Tests
        run: npm run test
